<h1 class="titulo">Bora Conferir como funciona?</h1>

<table class="tabela_1">
    <tr>
        <td class="coluna_1"><img src="../../assets/imagens/cestaRoupa.png"/></td>
        <td class="coluna_1"><img src="../../assets/imagens/app.png" /></td>
        <td class="coluna_1"><img src="../../assets/imagens/recolhe.png" /></td>
        <td class="coluna_1"><img src="../../assets/imagens/lavanderia.png" /></td>
        <td class="coluna_1"><img src="../../assets/imagens/recolhe.png" /></td>
    </tr>

    <tr>
        <td class="coluna_1">Roupas Sujas</td>
        <td class="coluna_1">Chame a praticidade do iClean</td>
        <td class="coluna_1">Recolhimento da Roupa</td>
        <td class="coluna_1">Lavanderia</td>
        <td class="coluna_1">Entrega das Roupas</td>
    </tr>
</table>

<!--
<h2>Lavanderias</h2>

<div *ngFor="let lavanderias of lavanderias">
    <h3><a [title]="lavanderias.name + ' details '">{{ lavanderias.name }}</a></h3>


    <p *ngIf="lavanderias.zona">
        {{ lavanderias.zona }}
    </p>

    <button (click)="share()">Share</button>

</div>-->